body {
    font-family: "Roboto", sans-serif;

}

.container {
    width: 1110px;
    margin: 20px auto;
}

.title span {
    background-color: #222222;
    line-height: 17px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    border-bottom: solid 2px #333;
    font-size: 26px;
    /* line-height: 44px; */
}

.blog img {
    width: 200px;
    height: 150px;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    /* align-items: center; */
}

.main {}

.blog {
    display: flex;
    gap: 20px;
    align-items: center;
}

.blogs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    padding: 15px;
    border-radius: 5px;
}

.name {
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    color: black;
}

.line {
    width: 5px;
    height: 2px;
}

.date {
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
    color: #767676;
}

.info h2 {
    font-size: 22px;
    line-height: 29px;
    font-weight: 400;
}

.info h2:hover {
    color: #4db2ec;
    cursor: pointer;
}

.description {
    color: #767676;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ads {
    background: url('https://demo.tagdiv.com/newspaper_pro/wp-content/uploads/2019/10/newspaper-rec300d.jpg.webp') center / cover no-repeat;
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}

.sidebar-title span {
    background-color: #8954C1;
    line-height: 17px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.sidebar-title {
    border-bottom: solid 2px #8954C1;
    font-size: 26px;
    /* line-height: 44px; */
}

.post-sidebar img {
    width: 100%;
    height: auto;

}
.date-sidebar{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #767676;
}
.zero{
    background-color: #222222;
    color: white;
    padding: 5px 10px;
}
.sidebar-title-content:hover{
    color: #8954C1;
    cursor: pointer;
}
.fixed button{
    position:relative;
    left: 0;
    top: -100px;
    background-color: #030303;
    color: white;
}
