* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.product {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.price{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.price button {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 576px) {
    .container {
        flex-direction: column;
    }
}
@media (min-width:576px)  {
    .container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media (min-width: 1024px)  {
    .container {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    
}

