   header {
       background: #ee0dfe;
       color: #fff;
       padding: 10px 20px;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   nav{
       padding: 0px 20px; 
   }

   nav a {
       color: white;
       margin-right: 15px;
       text-decoration: none;
       font-weight: bold;
   }

   main {
       margin-top: 80px;
       padding: 15px;
       display: flex;
       gap: 20px;
   }

.posts {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
   .content {
       flex: 1;
       background: white;
       padding: 15px;
       border-radius: 5px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }
   .content img {
       max-width: 50%;
       height: auto;
       margin-top: 10px;
       border-radius: 5px;
   }
   .content button {
       background-color: #ee0dfe;
       color: white;
       border: none;
       padding: 10px 15px;
       border-radius: 5px;
       cursor: pointer;
       margin-top: 10px;
   }

   .sidebar {
       flex: 1;
       background: #d3d1d1;
       color: rgb(6, 5, 5);
       padding: 15px;
       border-radius: 5px;
       margin-top: 10px;
   }
   ul li  img {
       max-width: 100%;
       height: 100%;
       margin-top: 10px;
       border-radius: 5px;
   }
   ul li a {
       color: rgb(24, 23, 23);
    text-decoration: none;
   }
   ul li a:hover {
       text-decoration: underline;
   }
   ul li {
    list-style: none;
   }

   footer {
       background: #333;
       color: white;
       text-align: center;
       padding: 10px;
       position: fixed;
       bottom: 0;
       left: 0;
       width: 100%;
   }