*{
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
}
.blogs h1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.blog {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
}


@media (max-width: 768px) {
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 576px) {
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
}
