.container{
    padding: 50px 80px;
}

.all {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}


.text h1 {
    font-size: 50px;
    line-height: 78px;
    font-weight: 800;
    font-family: Inter, sans-serif;
    width: 637px;
    height: 176px;
}

.text p {
    max-width: 380px;
    margin: 20px 0;
    color: #555;
}

button {
    padding: 10px 24px;
    background: black;
    color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.images {
    position: relative;
    width: 100%;
    display: flex;
}

img {
    width: 220px;
    height: 250px;
    border-radius: 50% 50% 0 0;
    object-fit: cover;
}

.img2 {
    width: 220px;
    height: 250px;
    border-radius: 50% 50% 0 0;
    position: absolute;
    left:150px;
    top: 70px;
}

footer{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #070707;
    color: #b7b6b6;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
}

